
body {
  font-family: "Josefin Sans", sans-serif;
  color: white;
}

h1 {
  font-size: 40px; 
}

p {
  font-size: 20px;
  font-weight: bold;
}

main {
  text-align: right;
}

a {
  color: white;
}

nav {
/*  background-color: black;
  opacity: 0.5; */
  background-color: rgba(0, 0, 0, 0.5);
}

body {
  background-color: lightcyan;
  background-image: url("./assets/nature-hd-background-2.jpg");
}